@use './functions' as *;
@use './media' as *;

// --- Container sizes
:root {
	--container-width: 1170px;
	--container-padding-x: 15px;
}

// --- Colors ---
$color-white: #fff;
$color-dark: #0c151c;

$color-gray: #e9ecef;
$color-gray--100: #e4e5ea;



$color-blue: #0d6efd;





$border: 1px solid #ced4da;

// --- Fonts ---
$font-family-base: 'Montserrat', sans-serif;
$font-family-keyboard: 'JetBrains Mono', monospace;

$transition-duration: 0.3s;
