@use '../helpers' as *;

@mixin button($text-color, $bg-color) {
    padding: rem(10) rem(20);
    // ----> ... <---- //
    color: $text-color;
    background-color: $bg-color;
    border-radius: rem(10);
    border: none;

    @include hover {
      // ----> ... <---- //
    }
}

%button-primary {
  @include button(#fff, #378BA4)
}

%button-secondary {
  @include button(#fff, #012E4A)
}

