@use '../helpers' as *;

.header-num-auth {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: rem(20);
	padding-block: fluid(30, 10);

	&__title {
		font-size: fluid(36, 18);
		flex: 1;
	}

	&__qr-code {
		img {
			height: fluid(100, 30);
		}
	}
}
