@use '../helpers' as *;

.main-num-auth {
	&__inner {
		display: flex;
		justify-content: center;
		height: 100%;
		column-gap: fluid(40, 10);

		@include tablet {
			flex-direction: column;
			row-gap: 1rem;
		}
	}
}




